body{
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background-color: #FFFFFF;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
.container{
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
/* HEADER */
.header-container{
    display: flex;
    align-items: center;
}
.header-navigation{ 
    display: flex;
    align-items: center;
    margin-right: auto;
} 
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em; 
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.header-logo-item{
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
}
.header-menu{
    display: flex;
    gap: 40px;
}
.header-menu-link{
   color:  #2e2f42 ;
   font-family: Roboto;
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 0.02em;
   font-style: normal;
   text-decoration: none;
   padding: 24px 0;
   display: block;
}
.header-menu-link:hover,
.header-menu-link:focus{
    color: 
    #404bbf ;
}
.header-adress{
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 40px;
}
.header-adress-list{
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: normal;
    display: flex;
    gap: 40px;
}
.header-adress-item{
    color: #434455 ;
    font-style: normal;
    text-decoration: none;
    padding: 24px 0;
}

.header-adress-item:hover,
.header-adress-item:focus{
    color: #404BBF;
}

/* HERO */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}
.hero-title {
    color: #fff;
    font-family: Roboto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.hero-button {
    color:#fff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* FEATURES */
/* 
.features-list-item {
} */
.features-icon{
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background-color: var(--CLOUD, #F4F4FD);
}

.features{
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list-item{
    width: calc((100% - 72px) / 4);
}
.features-subtitle { 
    color: #2e2f42;   
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-paragraph {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* OUR-TEAM */
.our-team {
    background: #F4F4FD;
    padding: 120px 0;
}
.our-team-title {
    color: #2e2f42;
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
/* .our-team-icon {
    
} */
.our-team-item {
    background-color: #FFFFFF;
    width:calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.our-team-list{
    display: flex;
    gap: 24px;
}
.our-team-subtitle {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.our-team-container{
    padding: 32px 0;
}
.our-team-icon{
    fill: #4D5AE5;
}
.our-portfolio-list{
    display: flex;
}
/* OUR-PORTFOLIO */
.our-portfolio {
    padding: 120px 0;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 0;
}
.our-portfolio-item{
    width:calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;

}
.our-portfolio-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.our-portfolio-subtitle {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.our-portfolio-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.our-portfolio-subtitle{
    margin-bottom: 8px;
}

.our-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* FOOTER */
.footer {
    padding: 100px 0;
    background: #2E2F42;
    
}
.footer-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-link{
    margin-bottom: 16px;
    display: inline-block;
}
.footer-logo-item{
    font-weight: 700;
    color: #F4F4FD;
    text-decoration: none;
}
.footer-text {
    color: #f4f4fd ;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}